<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Vid</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css"></link>
</head>
<body>
<header>
    <div class="row">
        <div class="logo">
            <img src="bird.gif">
        </div>
    <ul class="main-nav">
        <li class="active"><a href="https://www.google.com">HOME</a></li>
        <li><a href="https://www.google.com">SERVICES</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">CONTACT</a></li>
        <li><a href="">NEWS</a></li>
        <li><a href="https://www.earvinbaraka000webhostapp.com">FAQ</a></li>
     </ul>
    </div>
    <div class="hero">
        <h1>Are you Ready To Watch?</h1>
        <center><embed src="vid/Theater.mp4" height="200" width="200"></center>
        <a href="https://www.google.com">google</a>
          <div class="button">
              <a href="index_vid.html" class="btn btn-one">Watch Video</a>
              <a href="" class="btn btn-two">Explore More</a>
          </div>
    </div>
</header>
</body>
</html>